.container-Center {
 background-color: rgb(110, 110, 110);
 padding: 5em;
 margin-top: 2%;
 border-radius: 5%;
}
.container-Center.score {
  background-color: rgba(151, 197, 81, 0.308);
}
body {
  background-color: rgb(59, 59, 59);
}

#title {
  color: rgb(255, 255, 255);
  font-size: 2em;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-top: 0;
}

.removeButton {
  background-color: rgb(56, 56, 56);
  color: white;
  font-size: large;
  border-radius: 10%;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  text-decoration: none;
  transition: 300ms;
  margin-left : 30%;
  text-align: center;
}
.removeButton:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(56, 56, 56);
  font-size: large;
  border-radius: 10%;
  text-decoration: none;
}
.printToDo {
  color: white;

}